black
luigi
# One of the requirements pulls in librosa, I believe note_seq
# So we need to pin these, otherwise librosa breaks
numpy==1.22.0rc1
numba==0.48
pandas
pre-commit
pytest
pytest-cov
pytest-env
python-slugify
requests
soundfile
spotty
tensorflow-datasets
tqdm
ffmpeg-python
note_seq
tensorflow>=2.0
schema
patool