# You must delete disks manually on GCP :\
# https://console.cloud.google.com/compute/disks?project=hear2021-evaluation

project:
  name: hearpreprocess
  syncFilters:
    - exclude:
        - .idea/*
        - .git/*
        - '*/__pycache__/*'
        - _workdir/*
        - tasks/*
        - .mypy_cache/*
        - hearpreprocess.egg-info/*

containers:
  - projectDir: /workspace/project
    image: turian/hearpreprocess
    volumeMounts:
      - name: workspace
        mountPath: /workspace
    runtimeParameters: ['--shm-size', '32G']

instances:
  - name: hearpreprocess-cpu-USERNAME
    provider: gcp
    parameters:
      zone: europe-west4-a
      #machineType: c2-standard-16
      #machineType: e2-standard-32
      machineType: c2-standard-60
      preemptibleInstance: False
      # gcloud compute images list
      # https://console.cloud.google.com/compute/images?project=hear2021-evaluation
      #imageUri: projects/ubuntu-os-cloud/global/images/ubuntu-2004-focal-v20211118
      imageUri: projects/ml-images/global/images/c0-deeplearning-common-cpu-v20211118-debian-10
      volumes:
        - name: workspace
          parameters:
            size: 5000
